<style> 
.game-board {
        width: 600px;
        height: 600px;
        margin: 0 auto;
        background-color: #34495e;
        color: #fff;
        border: 6px solid #2c3e50;
        border-radius: 10px;
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    }

    .box {
        border: 6px solid #2c3e50;
        border-radius: 2px;
        font-family: Helvetica;
        font-weight: bold;
        font-size: 4em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<div style="margin-bottom:80px" class="jumbotron">
    <h1>Tic Tac Toe</h1>
</div>

<div class="row">
    <h1>@ViewBag.saludo</h1>
    <div class="game-board">
        <div id="00" class="box" onclick="changeCell('00')"></div>
        <div id="01" class="box" onclick="changeCell('01')"></div>
        <div id="02" class="box" onclick="changeCell('02')"></div>
        <div id="10" class="box" onclick="changeCell('10')"></div>
        <div id="11" class="box" onclick="changeCell('11')"></div>
        <div id="12" class="box" onclick="changeCell('12')"></div>
        <div id="20" class="box" onclick="changeCell('20')"></div>
        <div id="21" class="box" onclick="changeCell('21')"></div>
        <div id="22" class="box" onclick="changeCell('22')"></div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    let currentToken = 'X';
    const changeCell = (id) => {
        if ($('#' + id).html() == '') {
            $('#' + id).html(currentToken);
            sendTokenToServer(currentToken,id);
            if (currentToken == 'X') {
                currentToken = 'O'
            }
            else {
                currentToken = 'X'
            }
        }
    }

    const sendTokenToServer=(token,id)=>{
            jQuery.ajax({
                url: '/Home/hello',
                contentType: "application/json; charset=utf-8",
                type: 'GET',
                data: {
                    token,
                    id
                },
                success: function (data) {
                   
                }
        })
    }
</script>